langchain
langchain_openai
ipykernel
streamlit
streamlit-aggrid
streamlit-nested-layout
python-dotenv
flask
redis
flask-cors
redis-server
# sudo apt install -y autoconf automake build-essential python3-dev libtool
# sudo apt install pkg-config
